@model Koshop.DomainClasses.MenuGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuGroups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuTitile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuTitile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
