@model IEnumerable<Koshop.DomainClasses.MenuGroup>

@{
    ViewBag.Title = " فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
    // Layout = null;
}

<div class="table-responsive portlet box border shadow">
    <div class="portlet-heading">
        <h2 class="col-md-10">@ViewBag.Title</h2>
        <a id="btnAdd" class="btn btn-success btn-round pull-left" href="#" data-style="slide-right">افزودن گروه </a>
        <br />
    </div>

    <table class="table table-bordered table-hover table-striped text-center" id="data-table">
        <thead>

            <tr>
                <th>
                    عنوان گروه
                </th>
                <th>
                    وضعیت گروه
                </th>
                <th>
                    نوع گروه
                </th>
                <th>
                    عملیات
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <a href="/admin/Menus/Index/@item.MenuGroupId"> @Html.DisplayFor(modelItem => item.MenuTitile)</a>
                    </td>
                    <td>
                        @if (item.IsActive == true)
                        {
                            <label class="label-success">فعال</label>
                        }
                        else
                        {
                            <label class="label-danger">غیر فعال</label>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuType)
                    </td>
                    <td>
                        <a class="btn btn-success btn-round" href="/admin/Menus/Index/@item.MenuGroupId">زیر منوها</a>
                        <a id="btnEdit_@item.MenuGroupId" data-style="slide-right" class="btn btn-info btn-round" onclick="Edit(@item.MenuGroupId)">ویرایش</a>
                        <a class="btn btn-danger btn-round" onclick="Delete(@item.MenuGroupId)">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="myModalLabel" class="myModalLabel">تیتر مودال</h4>
            </div>
            <div id="bodyModal" class="bodyModal">
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/content/assets/plugins/ladda/dist/spin.min.js"></script>
    <script src="~/content/assets/plugins/ladda/dist/ladda.min.js"></script>
    <script src="~/content/assets/js/pages/ladda.js"></script>

    <script>
        $("#btnAdd").on("click", function (e) {
            e.preventDefault();
            var l = Ladda.create(document.querySelector('#btnAdd'));
            l.start();
            $.ajax({
                url: "/admin/MenuGroups/Create",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن گروه جدید');
                $('#bodyModal').html(result);
                l.stop();
            });
        });

        function Edit(id) {
            var l = Ladda.create(document.querySelector('#btnEdit_' + id));
            l.start();
            $.ajax({
                url: "/admin/MenuGroups/Edit/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش گروه');
                $('#bodyModal').html(result);
                l.stop();
            });
        }

        function Delete(id) {
            swal({
                title: 'آیا اطمینان دارید؟',
                text: "این عملیات برگشت پذیر نیست...",
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#f44336',
                cancelButtonColor: '#777',
                confirmButtonText: 'بله، حذف شود. '
            }).then(function (result) {
                $.ajax({
                    url: "/admin/MenuGroups/Delete",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    data: {
                        __RequestVerificationToken: gettoken(),
                         id: id
                    },
                    async: true,
                    cache: false,
                    success: function (result) {
                        swal(
                            'انتخاب شما حذف کردن بود.',
                            'گروه فیلتر با موفقیت حذف شد.',
                            'success'
                        ).then($("#Item_" + id).hide(700))

                    },
                    error: function (xc) {
                        swal(
                            'خطا در پردازش.',
                            'گروه فیلتر به دلایلی قابل حذف نمیباشد.',
                            'error'
                        );
                    }
                })
            }, function (dismiss) {
                if (dismiss == 'cancel') {
                    swal(
                        'لغو گردید',
                        'گروه فیلتر همچنان وجود دارد.',
                        'error'
                    ).catch(swal.noop);;
                }
            }).catch(swal.noop);
        }

        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>

}

@section Head{
    <link href="~/content/assets/plugins/noty/css/flat.css" rel="stylesheet">
    <link href="~/content/assets/plugins/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
}
