@model Koshop.ViewModels.changePassViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId)
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 border shadow col-xs-10 col-xs-offset-1 p-b-30">
        <p class="text-center m-t-40 m-b-40">
            <i class="icon-lock border border-primary img-circle text-primary font-xxxlg p-20"></i>
        </p>
        <hr>
        <form id="form" role="form" method="POST">
            <div class="form-body">
                <div class="form-group">
                    <label for="old_password">رمز عبور پیشین</label>
                    <div class="input-group round">
                        <span class="input-group-addon">
                            <i class="icon-lock"></i>
                        </span>
                        @Html.TextBoxFor(model => model.Oldpass, new { @type = "password", @class = "form-control  ltr text-left" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Oldpass, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="password">رمز عبور جدید</label>
                    <div class="input-group round">
                        <span class="input-group-addon">
                            <i class="icon-key"></i>
                        </span>
                        @Html.TextBoxFor(model => model.pass, new { @type = "password", @class = "form-control  ltr text-left" })
                    </div>
                    @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="confirm_password">تکرار رمز عبور</label>
                    <div class="input-group round">
                        <span class="input-group-addon">
                            <i class="icon-key"></i>
                        </span>
                        @Html.TextBoxFor(model => model.repass, new { @type = "password", @class = "form-control  ltr text-left" })
                    </div>
                    @Html.ValidationMessageFor(model => model.repass, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-info btn-round">
                    <i class="icon-check"></i>
                    ذخیره
                </button>
                <a href="/admin/users" class="btn btn-warning btn-round pull-left">
                    <i class="icon-close"></i>
                    بازگشت
                </a>
            </div>
        </form>
    </div>
}