@model PagedList.IPagedList<Koshop.DomainClasses.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="table-responsive portlet box border shadow">
    <div class="portlet-heading">
        <h2 class="col-md-10">@ViewBag.Title</h2>
        <br />
    </div>

    @using (Html.BeginForm("Index", "Users", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-4 m-b-20">
                @Html.ActionLink("افزودن", "Create", null, new { @class = "btn btn-success btn-round" })

            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4 m-b-20">
                تعداد در صفحه
                @Html.DropDownList("_PageSize", new SelectList(new Dictionary<string, int> { { "5", 5 }, { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 } }, "Key", "Value", Model.PageSize), new { @class = "input-sm round", id = "pagesizelist" })
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4 m-b-20">
                <form role="form">
                    <div class="input-group round">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "جستجو بر اساس نام کاربری..." })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="icon-magnifier"></i>
                                <div class="paper-ripple"></div><div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                            </button>
                        </span>
                    </div><!-- ./input-group -->
                </form>
            </div><!-- /.col-sm-4 -->
        </div>
    }
    <table class="table table-bordered table-hover table-striped text-center" id="data-table">
        <thead>
            <tr>

                <th>
                    نام 
                </th>
                <th>
                    نقش کاربر
                </th>
                <th>
                    وضعیت ثبت نام
                </th>
                <th>
                    ایمیل
                </th>
                <th>
                    تاریخ ثبت نام
                </th>
                <th>
                    عملیات
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td class="text-right">
                        <img class="img-person img-circle" src="~/Content/Upload/Profile/thumbnail/@item.Profile">
                        <span>
                            @Html.DisplayFor(modelitem => item.Name)
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Role.RoleName)
                    </td>
                    <td>
                        @if (item.ISActive == true)
                        {
                            <label class="label-success">فعال</label>
                        }
                        else
                        {
                            <label class="label-danger">غیر فعال</label>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.AddedDate)
                    </td>

                    <td>
                        @Html.ActionLink("مشاهده", "Edit", new { id = item.UserId }, new { @class = "btn btn-success btn-round" })
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.UserId }, new { @class = "btn btn-info btn-round" })
                        <a class="btn btn-danger btn-round" href="#" onclick="Delete(@item.UserId)">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="row">
        <div class="col-md-6">
            صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
        </div>
        <div class="ltr col-md-6">
            @Html.PagedListPager(Model, page => Url.Action("Index",
                              new { page, _PageSize = Model.PageSize, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>

@section Script{

    <script>
       function Delete(id) {
            swal({
                title: 'آیا اطمینان دارید؟',
                text: "این عملیات برگشت پذیر نیست...",
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#f44336',
                cancelButtonColor: '#777',
                confirmButtonText: 'بله، حذف شود. '
            }).then(function (result) {
                $.ajax({
                    url: "/admin/Users/Delete",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    data: {
                        __RequestVerificationToken: gettoken(),
                         id: id
                    },
                    async: true,
                    cache: false,
                    success: function (result) {
                        swal(
                            'انتخاب شما حذف کردن بود.',
                            'منو با موفقیت حذف شد.',
                            'success'
                        ).then(location.reload())

                    },
                    error: function (xc) {
                        swal(
                            'خطا در پردازش.',
                            'منو به دلایلی قابل حذف نمیباشد.',
                            'error'
                        );
                    }
                })
            }, function (dismiss) {
                if (dismiss == 'cancel') {
                    swal(
                        'لغو گردید',
                        'منو همچنان وجود دارد.',
                        'error'
                    ).catch(swal.noop);;
                }
            }).catch(swal.noop);
        }

        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>
    <script type="text/javascript">

        $("#pagesizelist").change(function (event) {
            var form = $(event.target).parents("form");
            form.submit();
        });
    </script>

}