@model Koshop.DomainClasses.MultiPictureModule

<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">@Model.Title</span>
                    <h2>@Model.TitleBold</h2>
                    <p>@Html.Raw(Model.Description)</p>
                    <div class="quote">
                        “@Model.Cover
                    </div>
                    <a href="@Model.Link" class="default-btn">تماس با ما<span></span></a>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="~/Content/Modules/Images/thumbnail/@Model.Image" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.MultiPictureItems.Any())
{
<section class="offer-area ptb-100">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.MultiPictureItems)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-offer-box">
                        <div class="offer-image">
                            <a href="@item.Link">
                                <img src="~/Content/Modules/Images/thumbnail/@item.Image" alt="image">
                            </a>
                        </div>

                        <div class="offer-content">
                            <h3><a href="#">@item.Title</a></h3>
                            <a href="@item.LinkMore" class="details-btn"><i class="flaticon-left-chevron"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
}