@model Koshop.DomainClasses.Module

<div class="an-inner-banner">
    <div class="container">
        <div class="an-title-container center">
            <h1 class="an-title">تماس با ما</h1>
        </div> <!-- end title container -->
    </div> <!-- end cotnainer -->
</div>
<div class="an-page-content">
    <div class="an-contact-us-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="contact-details">
                        <div class="address-single">
                            <i class="ion-android-pin"></i>
                            <h4 class="an-small-title">آدرس</h4>
                            <p>
                                @Model.ContactModule.Address
                            </p>
                        </div>

                        <div class="address-single">
                            <i class="ion-android-call"></i>
                            <h4 class="an-small-title">تلفن</h4>
                            <a href="#">@Model.ContactModule.PhoneNum</a>
                            <a href="#">@Model.ContactModule.MobileNum</a>
                        </div>

                        <div class="address-single">
                            <i class="ion-android-mail"></i>
                            <h4 class="an-small-title">ایمیل</h4>
                            <a href="@Model.ContactModule.Email">@Model.ContactModule.Email</a>
                        </div>

                        <div class="address-single">
                            <i class="ion-android-time"></i>
                            <h4 class="an-small-title">ساعات کاری</h4>
                            @Html.Raw(Model.ContactModule.Description)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                   
                    <div class="contact-details">
                        <h4 class="an-small-title">ارسال پیام</h4>
                        <form action="#" class="an-form">
                            @foreach (var item in Model.ContactModule.ContactPerson)
                            {
                                <input type="hidden" id="User[@item.UserId]" name="User[@item.UserId]" />
                            }
                            <div class="row">
                                <div class="col-sm-6">
                                    <input name="name" id="name" required class="an-form-control" type="text" placeholder="نام شما">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" name="email" required class="an-form-control"  placeholder="ایمیل">
                                </div>
                                <div class="col-sm-12">
                                    <textarea class="an-form-control" required placeholder="متن خود را اینجا بنویسید"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <button id="SendButton" class="an-btn an-btn-default">ارسال پیام</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end an-contact-us-content -->
</div>

