@model Koshop.DomainClasses.MultiPictureModule

<section class="our-story-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">@Model.Title</span>
            <h2>@Model.TitleBold</h2>
        </div>

        <div class="our-story-content">
            <img src="~/Content/Modules/Images/thumbnail/@Model.Image" alt="image">

            <a href="@Model.Link" class="video-btn popup-youtube"><i class="flaticon-play-button"></i></a>
            <div class="quote">
                <p>@Model.Description</p>

                <h3>@Model.Cover</h3>
            </div>
        </div>
    </div>
</section>
@Html.Raw(Model.Description)
