@model Koshop.DomainClasses.MultiPictureModule

@if(Model.MultiPictureItems.Any())
{
<section class="team-area ptb-100 pt-0">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
            </span>
            <h2>@Model.Title</h2>
            <p>@Model.Description</p>
        </div>

        <div class="team-slides owl-carousel owl-theme">
            @foreach (var item in Model.MultiPictureItems)
            {

                <div class="single-team-box">
                    <img src="~/Content/Modules/Images/thumbnail/@item.Image" alt="image">

                    <div class="name">
                        <h3>@item.Title</h3>
                    </div>
                    <span>@item.TitleBold</span>
                    <ul class="social">
                        <li><a href="@item.Link" target="_blank"><i class="flaticon-instagram"></i></a></li>
                        <li><a href="@item.LinkMore" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
                        @Html.Raw(item.Description)
                    </ul>
                </div>
            }
       </div>
    </div>
</section>
}