@model Koshop.DomainClasses.AttributGrp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AttributGrp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroup.GroupTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttributGrpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
