@model Koshop.ViewModels.ContactModuleViewModel
<div class="portlet box border shadow">
    @{
        Koshop.DataLayer.AppDbContext db = new Koshop.DataLayer.AppDbContext();
    }
    @using (Html.BeginForm("Create", "ContactModule", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <div class="portlet-heading">
                <h2 class="col-md-10">افزودن @Html.DisplayNameFor(model => model)</h2>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-info btn-round">
                        <i class="icon-check"></i>
                        ذخیره
                    </button>
                    <a href="/admin/modules/index" class="btn btn-warning btn-round">
                        <i class="icon-close"></i>
                        بازگشت
                    </a>
                </div>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <ul class="nav nav-tabs curve">
            <li class="active">
                <a data-toggle="tab" href="#tab1">ماژول</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab2">صفحات انتخابی</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab3">اطلاعات تماس</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab4">کاربران انتخابی</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div id="tab1" class="tab-pane fade active in">
                <div class="row">
                    <br />
                    <div class="col-md-8">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.ModuleTitle, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.ModuleTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ModuleTitle, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class=" col-md-4 pull-left">

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.IsActive, new[] {
new SelectListItem() { Text = "فعال", Value = bool.TrueString },
new SelectListItem() { Text = "غیر فعال", Value = bool.FalseString },
}, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsActive, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PositionId, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.DropDownList("PositionID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PositionId, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                    </div>
                </div>
            </div>

            <div id="tab2" class="tab-pane fade">
                <div class="row">
                    @Html.Action("ModulePageShow", "Modules")

                </div>
            </div>
            <div id="tab3" class="tab-pane fade">
                <div class="row">
                    <br />


                    <div class=" col-md-4">

                        <div class="form-group ">
                            @Html.LabelFor(model => model.PhoneNum, new { @class = "control-label " })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.PhoneNum, new { @class = "form-control ltr text-left" })
                                @Html.ValidationMessageFor(model => model.PhoneNum, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNum, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MobileNum, new { @class = "form-control ltr text-left" })
                                @Html.ValidationMessageFor(model => model.MobileNum, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.PostCode, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.PostCode, new { @class = "form-control ltr text-left" })
                                @Html.ValidationMessageFor(model => model.PostCode, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control ltr text-left" })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab4" class="tab-pane fade">
                <div class="row">
                    @Html.Action("ShowUsersName")

                </div>
            </div>

        </div>
    }
</div>


@section Script{

    <script src="~/content/ckeditor/ckeditor.js"></script>
    <script src="~/content/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#Description').ckeditor();
        });
    </script>

}
