@model IEnumerable<Koshop.DomainClasses.Menu>
@{
    Koshop.DataLayer.AppDbContext db = new Koshop.DataLayer.AppDbContext();
}

<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="~/content/Koshop/assets/img/bayokj5.svg" alt=""></a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul id="menuss" class="nav navbar-nav">
        @MenuTree(Model.Where(s => s.Depth == 0 && s.MenuGroup.MenuType == "MainMenu"))
    </ul>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="an-search-container">
                <form action="/product/Search">
                    <div class="search-fields no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextBox("SearchString", ViewBag.SearchString as string, new { @class = "an-form-control  no-margin", @placeholder = "جستجوی کالا و خدمات ...", @autocomplete = "off" })
                                @*<input name="searchstring" value="@ViewBag.CurrentFilter" class='an-form-control no-margin' type="text" placeholder="جستجوی کالا و خدمات ...">*@
                            </div>
                        </div>
                    </div>
                    <div class="search-submit" style="width:15%">
                        <button class="an-btn an-btn-default" id="btnSearch" type="submit"><i class="ion-android-search"></i></button>
                    </div>
                </form>
            </div> <!-- end an-search-container -->
        </li>
        <li id="openmenu"><a class="an-btn an-btn-default "><label class="mainToggle menu-toggle an-group-lable" for="menu"><span class="menutype">کالا و خدمات</span></label></a></li>
        <li><a class="sign-up-link" href="/admin"><i class="typcn typcn-user"></i><span>ورود به مدیریت</span></a></li>
    </ul>
</div><!-- /.navbar-collapse -->
@*<div id="catdiv">
        <div class="an-inner-banner">
            <div class="container">

            </div> <!-- end cotnainer -->
        </div>
    </div>   <!-- end an-cat-div-->*@

@helper MenuTree(IEnumerable<Koshop.DomainClasses.Menu> menu)
{
    foreach (var item in menu.OrderBy(x => x.DisplayOrder).Where(y => y.IsActive == true))
    {
        <li class="dropdown ">
            @if (item.PageType == "1")
            {
                <a href="/@item.PageName"><i class="ion-android-laptop color-moto"></i>@item.MenuTitle</a>
            }
            else if (item.PageType == "2")
            {
                <a href="/Product/search?SlctGrpFilt=@item.PageContetnt"><i class="ion-android-laptop color-moto"></i>@item.MenuTitle</a>
            }
            else if (item.PageType == "3")
            {
                <a href="/Blog/Groups?group=@item.PageContetnt"><i class="ion-android-laptop color-moto"></i>@item.MenuTitle<span class="caret"></span></a>
            }
            else if (item.PageType == "4")
            {
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="ion-android-laptop color-moto"></i>@item.MenuTitle<span class="caret"></span></a>
            }
            else if (item.PageType == "5")
            {
                <a href="/@item.PageContetnt"><i class="ion-android-laptop color-moto"></i>@item.MenuTitle<span class="caret"></span></a>
            }
            @if (Model.Any(s => s.ParentId == item.MenuId))
            {
                <ul class="dropdown-menu">
                    <li>
                        @foreach (var item2 in Model.Where(s => s.ParentId == item.MenuId))
                        {
                            <div class="lisline">
                                <ul class="droplist">
                                    <li class="boldmenu">
                                        @if (item2.PageType == "1")
                                        {
                                            <a href="@item2.PageName"> @item2.MenuTitle</a>
                                        }
                                        else if (item2.PageType == "2")
                                        {
                                            <a href="/Product/search?SlctGrpFilt=@item2.PageContetnt"> @item2.MenuTitle</a>
                                        }
                                        else if (item2.PageType == "3")
                                        {
                                            <a href="/Blog/Groups?group=@item.PageContetnt"> @item2.MenuTitle</a>
                                        }
                                        else if (item2.PageType == "4")
                                        {
                                            <a>@item2.MenuTitle</a>
                                        }
                                        else if (item2.PageType == "5")
                                        {
                                            <a href="@item2.PageContetnt"> @item2.MenuTitle</a>
                                        }
                                    </li>
                                    @if (Model.Any(s => s.ParentId == item2.MenuId))
                                    {
                                        foreach (var item3 in Model.Where(s => s.ParentId == item2.MenuId))
                                        {
                                            <li>
                                                @if (item3.PageType == "1")
                                                {
                                                    <a href="@item3.PageName"> @item3.MenuTitle</a>
                                                }
                                                else if (item3.PageType == "2")
                                                {
                                                    <a href="/Product/search?SlctGrpFilt=@item3.PageContetnt"> @item3.MenuTitle</a>
                                                }
                                                else if (item3.PageType == "3")
                                                {
                                                    <a href="/Blog/Groups?group=@item.PageContetnt"> @item3.MenuTitle</a>
                                                }
                                                else if (item3.PageType == "4")
                                                {
                                                    <a>@item3.MenuTitle</a>
                                                }
                                                else if (item3.PageType == "5")
                                                {
                                                    <a href="@item3.PageContetnt"> @item3.MenuTitle</a>
                                                }
                                            </li>
                                        }

                                    }

                                </ul>
                            </div>
                        }

                    </li>
                </ul>
            }

        </li>
    }
}

<div id="wrapper" style="display:contents">
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
    <div class="menu">
        <div style="top:85px">
            <label id="closemenu" style="color:#ab1278;display:none" class="mainToggle menu-toggle" for="menu"><span class="menutype">بستن</span></label>
        </div>
        <div class="groups">
            <ul>
                @ShowTree(db.ProductGroups.Where(s => s.Depth == 0))
            </ul>
        </div>
    </div>
</div>


@helper ShowTree(IEnumerable<Koshop.DomainClasses.ProductGroup> product_Groups)
{
    Koshop.DataLayer.AppDbContext db = new Koshop.DataLayer.AppDbContext();

    foreach (var item in product_Groups)
    {
        <li>
            @if (item.Depth == 0)
            {
            }
            @if (db.ProductGroups.Any(s => s.ParentId == item.ProductGroupId))
            {
                <label class="menutype" for="menu-@item.ProductGroupId">@item.GroupTitle</label>
                <input type="checkbox" id="menu-@item.ProductGroupId" name="menu-@item.ProductGroupId" class="menu-checkbox menutype">
                <div class="menu">
                    <label class="menutype backbutton" for="menu-@item.ProductGroupId" style="color: #ab1278;"><span class="menutype"> @item.GroupTitle</span></label>
                    <div class="groups">
                        <ul>
                            @ShowTree(db.ProductGroups.Where(s => s.ParentId == item.ProductGroupId))
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <a href="/Product/search?SlctGrpFilt=@item.GroupTitle.Trim().Replace(" ","-")"> @item.GroupTitle</a>
            }
        </li>
    }
}

