@model PagedList.IPagedList<Koshop.DomainClasses.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div id="hiddendiv"></div>
@if (Model.Count == 0)
{
    <div class="an-kaladiv col-md-12 col-sm-12 col-xs-12">
        <div class="an-accordion">
            <div class="" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="an-tab-container">
                        <div class="panel-title">
                            <div class="no-kala">
                                <p>کالایی جهت نمایش وجود ندارد!</p>
                                <p>برای نمایش بهتر از کلمات مناسبتر برای جستجو استفاده کنید و یا از تعداد فیلترها حذف کنید(فیلترهای اعمال شده با <i class="ion-android-checkbox-outline"></i> نشان داده شده اند)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="forload" class="an-tab-container">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="lowest-detail">
            @foreach (var item in Model)
            {
                <div class="an-kaladiv  col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="an-accordion an-scalupkala" id="kalaStore_@item.ProductId">
                        <div class="" id="accordionkala_@item.ProductId" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div id="collapsekala_@item.ProductId" class="panel-collapse collapse an-detailkala" role="tabpanel" aria-labelledby="headkala_@item.ProductId" aria-expanded="false">
                                    <a class="an-closeicon collapsed" role="button" data-toggle="collapse" data-parent="#accordionkala" href="#collapsekala_@item.ProductId" aria-expanded="false" aria-controls="collapsekala_@item.ProductId"><i class="ion-close-circled color-light"></i></a>
                                    <div class="panel-body an-bodydetail" id="kala_@item.ProductId" name="kala_@item.ProductId">
                                        @foreach (var detG in item.ProductGroup.DetailGroups)
                                        {
                                            if (detG.DetailItem.Any(x => x.ProductDetail.Any(y => y.ProductId == item.ProductId)))
                                            {
                                                <span>@detG.Name</span>
                                                foreach (var detI in detG.DetailItem)
                                                {
                                                    if (detI.ProductDetail.FirstOrDefault(x => x.ProductId == item.ProductId) != null)
                                                    {
                                                        if (!detI.ProductDetail.FirstOrDefault(x => x.ProductId == item.ProductId).Value.IsEmpty())
                                                        {
                                                            <span>
                                                                <span>@detI.DetailTitle</span>
                                                                <label>@detI.ProductDetail.FirstOrDefault(x => x.ProductId == item.ProductId).Value </label>
                                                            </span>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="an-kalabody an-tab-container">
                                    <div class=" an-listing-single">
                                        <a role="button" href="@Url.Action("explore","details",new { @id = item.AliasName })"target="_blank" >
                                           
                                            <img class="backgrkala" src="/Content/Upload/productImages/thumbnail/@item.ProductImage" height="150" width="150" />
                                        </a>
                                    </div> 
                                    <div class="an-kalaname">
                                        <p><a target="_blank" href="@Url.Action("explore","details",new { @id=item.AliasName})">@Html.DisplayFor(modelitem => item.ProductTitle)</a></p>
                                       
                                        <div class="an-collapsebtn">
                                            <span><a role="button" data-toggle="collapse" data-parent="#accordionkala" href="#collapsekala_@item.ProductId" aria-expanded="false" aria-controls="collapsekala_@item.ProductId" class="collapsed"><i class="ion-information-circled"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane fade" id="highest-detail">
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="an-pagination">
        <div id="myPager">

            @Html.PagedListPager(
                                                                                    Model,
                                                                             page => Url.Action("", "Product/search", new { page, SearchString = ViewBag.SearchString, sortOption = ViewBag.sortOption, SlctGrpFilt = ViewBag.SlctGrpFilt, filt = ViewBag.filt, state = ViewBag.state, city = ViewBag.city, exist = ViewBag.exist, yadak = ViewBag.yadak, yadf = ViewBag.yadf }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                                                                             {
                                                                                 LinkToFirstPageFormat = "<<",
                                                                                 DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                                                 DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                                                 LinkToPreviousPageFormat = "<",
                                                                                 LinkToNextPageFormat = ">",
                                                                                 LinkToLastPageFormat = ">>",
                                                                                 DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                                                 DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                                                 DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                                                                 MaximumPageNumbersToDisplay = 10,
                                                                             },
                                                                              new AjaxOptions
                                                                              {
                                                                                  InsertionMode = InsertionMode.Replace,
                                                                                  AllowCache = true,
                                                                                  HttpMethod = "Get",
                                                                                  UpdateTargetId = "dvContent",
                                                                                  LoadingElementId = "loadingIndicator"
                                                                              })
                                                                      )
        </div>
    </div>
</div>
<script>window.onload = function (event) { var element = document.getElementById('productdiv'); if (typeof (element) != 'undefined' && element != null) { } else { var hiddendiv = document.getElementById('hiddendiv'); hiddendiv.style.height = "1500px"; hiddendiv.style.width = "100%"; window.location.reload(); } }</script>
