@model IEnumerable<Koshop.DomainClasses.ProductGroup>

<option value="همه-گروه-ها">-همه گروه ها-</option>

@ShowTree(Model.Where(s => s.Depth == 0))
@helper ShowTree(IEnumerable<Koshop.DomainClasses.ProductGroup> productGroup)
    {
foreach (var item in productGroup.OrderBy(x=>x.DisplayOrder))
{
    var selected = "";
    if (ViewBag.selected == item.GroupTitle)
    {
        selected = "selected=selected";
    }
            <option @selected value="@item.GroupTitle.Replace(" ","-")">@string.Concat(Enumerable.Repeat(" - ", Convert.ToInt32(item.Depth))) @item.GroupTitle </option>
            if (Model.Any(s => s.ParentId == item.ProductGroupId))
            {
                @ShowTree(Model.Where(s => s.ParentId == item.ProductGroupId));
            }
        }
}
