@model PagedList.IPagedList<Koshop.DomainClasses.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Koshop.DataLayer.AppDbContext db = new Koshop.DataLayer.AppDbContext();
    int? userID = ViewBag.UserID;
    int jamkalaha = Convert.ToInt32(Model.PageCount * Model.Count());
}

@*@Html.Hidden("yadak", yadak)*@
@foreach (var item in db.ModulePages.Where(y => (y.Menu.PageName == "ProductSearch" || y.Menu.PageName == "ALLPages") && y.Module.Position.PositionName == "Slider" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
{
    @Html.Action(item.Module.Component.ActionName, item.Module.Component.ControllerName, new { @id = item.ModuleId })
}

<div id="all-e-map">
    @*<div id="catdiv">
            <div class="an-inner-banner">
                <div class="container">
                    <div class="an-search-container">
                        <form action="#">
                            <div class="search-fields">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBox("SearchString",null, new { @class = "an-form-control", @placeholder = "جستجوی نام کالا", @autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                            <div class="search-submit">
                                <button class="an-btn an-btn-default" id="btnSearch" type="submit"><i class="ion-android-search"></i></button>
                            </div>
                        </form>
                    </div> <!-- end an-search-container -->
                </div> <!-- end cotnainer -->
            </div>
        </div>   <!-- end an-cat-div-->*@

    @using (Html.BeginForm("", "search", FormMethod.Get))
    {
        @Html.AntiForgeryToken()


        <div id="productdiv" class="an-page-content back-pagesearch">
            <div class="container">
                <div class="row">
                    @foreach (var item in db.ModulePages.Where(y => (y.Menu.PageName == "ProductSearch" || y.Menu.PageName == "ALLPages") && y.Module.Position.PositionName == "Top" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                    {
                        @Html.Action(item.Module.Component.ActionName, item.Module.Component.ControllerName, new { @id = item.ModuleId })
                    }
                    <div style="padding-top:10px">
                        <div class="col-md-3  an-filterdiv">
                            <div class="an-sidebar">

                                <div id="slcGrpTreediv"></div>

                                <div id="OthFilter" class="an-form"></div>

                                @foreach (var item in db.ModulePages.Where(y => (y.Menu.PageName == "ProductSearch" || y.Menu.PageName == "ALLPages") && y.Module.Position.PositionName == "Side" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                                {
                                    @Html.Action(item.Module.Component.ActionName, item.Module.Component.ControllerName, new { @id = item.ModuleId })
                                }

                            </div> <!-- end an-sidebar -->
                        </div>
                        <div class="col-md-9 no-padding">
                            <div class="content-body">
                                <div class=" full-width">
                                    <div class="an-tab-container">
                                        <div class="tab-nav pdside-10">
                                            <div class="row">
                                                <h3>جستجوی <span id="titlegropsearch">کالا</span><span id="counter"> (@Response.Headers["Counter"] کالا ) </span></h3>
                                            </div>
                                            <div class="row">
                                                <ul class="nav nav-tabs" id="sortoptionli" role="tablist">
                                                    <li role="presentation" id="newsrt"><a onclick="sortchange(1)" class="btn" role="tab" data-toggle="tab">جدیدترین</a></li>
                                                    <li role="presentation" id="favsrt"><a onclick="sortchange(2)" class="btn" role="tab" data-toggle="tab">محبوب ترین</a></li>
                                                    <li role="presentation" id="mostsrt"><a onclick="sortchange(3)" class="btn" role="tab" data-toggle="tab">پربازدیدترین</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Tab panes -->

                                    </div> <!-- an-tab-container -->
                                </div> <!-- end listing-result-content -->
                                <div id="dvContent">
                                    @{
                                        @Html.Partial("_productList", Model);
                                    }
                                </div>
                                <div id="dvscript"></div>
                                @foreach (var item in db.ModulePages.Where(y => (y.Menu.PageName == "ProductSearch" || y.Menu.PageName == "ALLPages") && y.Module.Position.PositionName == "Content" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                                {
                                    @Html.Action(item.Module.Component.ActionName, item.Module.Component.ControllerName, new { @id = item.ModuleId })
                                }
                            </div>
                        </div>
                    </div>
                    @foreach (var item in db.ModulePages.Where(y => (y.Menu.PageName == "ProductSearch" || y.Menu.PageName == "ALLPages") && y.Module.Position.PositionName == "Bottom" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                    {
                        @Html.Action(item.Module.Component.ActionName, item.Module.Component.ControllerName, new { @id = item.ModuleId })
                    }
                </div>
            </div>
        </div>
    }
</div>
@section Script{
    <script src="~/content/Koshop/assets/js/ks-productSearch.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@section Head{
    <title>@Koshop.web.Content.Resources.Titles.SiteTitle - جستجوی کالا</title>
}

@section footer{
    @Html.Partial("_footer")
}

