@model Koshop.DomainClasses.AttributItem

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="padding:10px">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.value, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.value, null, new { @class = "form-control ltr" })
            @Html.ValidationMessageFor(model => model.value, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.idfilter, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.idfilter, null, new { @class = "form-control ltr" })
            @Html.ValidationMessageFor(model => model.idfilter, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AttributGrpId, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("AttributGrpId", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AttributGrpId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-actions text-left">
        <button type="submit" class="btn btn-info btn-round">
            <i class="icon-check"></i>
            ذخیره
        </button>
        <a data-dismiss="modal" class="btn btn-warning btn-round">
            <i class="icon-close"></i>
            بازگشت
        </a>
    </div>
</div>
}

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>

<script>
     $(function () {
            //Set the value of your TypeId <select>
         $('#AttributGrpId').val('@Url.RequestContext.RouteData.Values["id"]');
    });
</script>