@model Koshop.DomainClasses.News

@{
    ViewBag.Title = "Delete";
    Layout = null;
}


<div style="padding:10px">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsGroup.GroupTitle)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions text-left">
            <button type="submit" class="btn btn-danger btn-round">
                <i class="icon-check"></i>
                حذف
            </button>
            <button type="button" class="btn btn-warning btn-round" data-dismiss="modal">
                <i class="icon-close"></i>
                بازگشت
            </button>
        </div>
    }
</div>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>
