@model Koshop.DomainClasses.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsGroup.GroupTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
