@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="background: url('/zovio/assets/img/registe.jpg') center center no-repeat; background-size:cover">
        <section class="checkout-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class=" col-md-6" style="margin-right:25%">
                        <div class="billing-details">
                            <h3 class="title">تغییر رمز عبور</h3>
                            @Html.ValidationSummary(true, "", new { @class = "text-warning" })
                            <div class="row">
                                @if (ViewBag.status == "Nok")
                                {
                                    <div class="alert alert-danger" role="alert"> <strong>خطا </strong> لینک وارد شده صحیح نمیباشد و یا منقضی شده است</div>
                                    <p><i class="ion-refresh"></i>بازگشت به<a href="/Account/forgotPassword">  صفحه بازیابی رمز عبور </a></p>

                                }
                                else if (ViewBag.status == "Ok")
                                {
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>رمز عبور <span class="required">*</span></label>
                                            <input id="Pass" class="form-control ltr" type="password" placeholder="رمز عبور">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>تایید رمز عبور <span class="required">*</span></label>
                                            <input id="RePass" class="form-control ltr" type="password" placeholder="رمز عبور">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" href="#" class="default-btn">ورود<span></span></button>
                                    </div><!-- /.form-group -->
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 " style="margin-right:25%">
                        <div class="user-actions">
                            <i class="fas fa-key"></i>
                            <span>رمز عبور را فراموش کرده اید؟ <a href="/Account/ForgotPassword">بازیابی رمز عبور </a></span>
                            <br />
                            <br />
                            <i class="fas fa-lock"></i>
                            <span>عضو نیستید؟ <a href="/Account/Register">عضو شوید</a></span>
                            <br />
                            <br />
                            <i class="fas fa-home"></i>
                            <span>بازگشت به <a href="/">صفحه اصلی</a></span>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}


@section Script{

    <script>
        $("#btnSubmit").on("click", function () {
            $.ajax({
                url: "/Account/SendChangePass/" + '@ViewBag.id',
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                type: "Post",
                data: {
                    pass: $("#Pass").val(),
                    repass: $("#RePass").val(),
                    __RequestVerificationToken: gettoken(),
                },
                async: true,
                cache: false,
                success: function (result) {
                    l.stop();
                    $("#validationForget").html(result);
                    $("#validationForget").show();
                },
                error: function (result) {
                    l.stop();
                    alert("خطایی رخ داد! دوباره امتحان کنید");
                }
            });
        });
    </script>

    <script type="text/javascript">
         function gettoken() {
             var token = '@Html.AntiForgeryToken()';
             token = $(token).val();
             return token;
        }
    </script>
}

@section Head{
    <title>@Koshop.web.Content.Resources.Titles.SiteTitle - تغییر رمز عبور</title>
}
