@model IEnumerable<Koshop.DomainClasses.NewsTag>

@{
    Koshop.DataLayer.AppDbContext db = new Koshop.DataLayer.AppDbContext();
    var modulelist = db.Modules.Where(x => x.IsActive == true && x.ModulePage.Any(y => y.Menu.PageName == "blogTags")).ToList();
}

@foreach (var item in modulelist.Where(x => x.Position.PositionName == "Slider").OrderBy(z => z.DisplayOrder))
{
    @Html.Action(item.Component.ActionName, item.Component.ControllerName, new { @id = item.ModuleId })
}

<div class="an-inner-banner">

    <div class="container">
        <div class="an-advertise">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ad-details">
                        <i class="ion-leaf color-hotel"></i>
                        <h1>مطالب مرتبط با <span class="text-danger">@ViewBag.tagName</span></h1>
                        <div class="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div> <!-- end an-advertise -->
    </div> <!-- end cotnainer -->
</div> <!-- an-header-banner -->

@foreach (var item in modulelist.Where(x => x.Position.PositionName == "Top").OrderBy(z => z.DisplayOrder))
{
    @Html.Action(item.Component.ActionName, item.Component.ControllerName, new { @id = item.ModuleId })
}
<div class="an-page-content">
    <div class="container">
        <div class="col-md-9">
            <div class="content-body">
                <div class="an-section-container">
                    @foreach (var item in Model)
                    {
                        <div class="an-listing-single category-listing-single">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="listing-img-container" style="background: url('/Content/Upload/NewsImages/Images/@item.News.NewsImage') center center no-repeat;
                                                background-size: contain;">
                                        <div class="listing-hover-content">
                                            <a href="/Blog/Contents/@item.News.AliasName" class="an-btn an-btn-black icon-left small-padding">نمایش مطلب</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="listing-content">
                                        <div class="listing-name">
                                            <h3><a href="/Blog/Contents/@item.News.AliasName"> @item.News.NewsTitle</a></h3>
                                        </div>
                                        <p>@item.News.NewsContent</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end category-listing-single -->
                    }
                </div> <!-- end an-section-container -->
            </div> <!-- end content-body -->
        </div>
        <div class="col-md-3">
            <div class="an-sidebar">
                <div class="an-sidebar-search">
                    <div class="search-submit">
                        <button class="an-btn an-btn-default" type="submit"><i class="ion-android-search"></i></button>
                    </div>

                    <div class="search-single">
                        <input type="text" class="an-form-control bottom-border dark" placeholder="جستجو کلمه">
                    </div>

                    <div class="search-single">
                        <h4>برچسب ها</h4>
                        <div class="an-tags">
                            @foreach (var item in Model.FirstOrDefault().News.NewsTag)
                            {
                            <a class="an-white-title tag-link" href="/Blog/Tags/@item.TagsTitle">
                                <span>@item.TagsTitle </span>
                            </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in modulelist.Where(x => x.Position.PositionName == "Bottom").OrderBy(z => z.DisplayOrder))
{
    @Html.Action(item.Component.ActionName, item.Component.ControllerName, new { @id = item.ModuleId })
}

@section footer{
    @Html.Partial("_footer")
}

@section script{
}